CreatorCode/CreatorClient/Service References/CreatorService/CreatorData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CreatorData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CreatorData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModuleTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleTable" nillable="true" type="tns:ModuleTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleTable" nillable="true" type="tns:ArrayOfModuleTable" />
  <xs:complexType name="ModuleTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ModID" type="xs:short" />
      <xs:element minOccurs="0" name="Value" type="xs:short" />
      <xs:element minOccurs="0" name="AppInstance" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ProductLicenseID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleTable" nillable="true" type="tns:ModuleTable" />
  <xs:complexType name="ArrayOfTokenTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TokenTable" nillable="true" type="tns:TokenTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTokenTable" nillable="true" type="tns:ArrayOfTokenTable" />
  <xs:complexType name="TokenTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LicenseID" type="xs:int" />
      <xs:element minOccurs="0" name="TokenType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TokenValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustID" type="xs:int" />
      <xs:element minOccurs="0" name="TokenStatus" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ActivatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeactivatedDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenTable" nillable="true" type="tns:TokenTable" />
  <xs:complexType name="ArrayOfDestinationNameTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinationNameTable" nillable="true" type="tns:DestinationNameTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinationNameTable" nillable="true" type="tns:ArrayOfDestinationNameTable" />
  <xs:complexType name="DestinationNameTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="CustID" type="xs:int" />
      <xs:element minOccurs="0" name="DestID" type="xs:int" />
      <xs:element minOccurs="0" name="DestName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestinationNameTable" nillable="true" type="tns:DestinationNameTable" />
  <xs:complexType name="PermissionsTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="pt_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pt_create_modify_key" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="pt_extension_pwd" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="pt_version_pwd" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="pt_module_pwd" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="pt_permanent_pwd" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionsTable" nillable="true" type="tns:PermissionsTable" />
  <xs:complexType name="ArrayOfProductTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductTable" nillable="true" type="tns:ProductTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductTable" nillable="true" type="tns:ArrayOfProductTable" />
  <xs:complexType name="ProductTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="pId" type="xs:int" />
      <xs:element minOccurs="0" name="pVersion" type="xs:int" />
      <xs:element minOccurs="0" name="pName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductTable" nillable="true" type="tns:ProductTable" />
  <xs:complexType name="SoftwareTokenTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="TokenType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoftwareTokenTable" nillable="true" type="tns:SoftwareTokenTable" />
  <xs:complexType name="ArrayOfSoftwareTokenTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoftwareTokenTable" nillable="true" type="tns:SoftwareTokenTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoftwareTokenTable" nillable="true" type="tns:ArrayOfSoftwareTokenTable" />
  <xs:complexType name="PacketTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PacketVerificationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVerified" type="xs:boolean" />
      <xs:element minOccurs="0" name="PacketComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VerifiedBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacketTable" nillable="true" type="tns:PacketTable" />
  <xs:complexType name="ArrayOfPacketTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacketTable" nillable="true" type="tns:PacketTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacketTable" nillable="true" type="tns:ArrayOfPacketTable" />
  <xs:complexType name="ArrayOfTransactionTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionTable" nillable="true" type="tns:TransactionTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionTable" nillable="true" type="tns:ArrayOfTransactionTable" />
  <xs:complexType name="TransactionTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="taType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="taDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taUnits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taPreviousValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taDateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="taUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="taPacketID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="taLicenseID" type="xs:int" />
      <xs:element minOccurs="0" name="taOrderID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionTable" nillable="true" type="tns:TransactionTable" />
  <xs:complexType name="ArrayOfProductLicenseTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductLicenseTable" nillable="true" type="tns:ProductLicenseTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductLicenseTable" nillable="true" type="tns:ArrayOfProductLicenseTable" />
  <xs:complexType name="ProductLicenseTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="plIndex" type="xs:int" />
      <xs:element minOccurs="0" name="plID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plState" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="LicenseID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ProductVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentProductLicenseID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Activations" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ActivationAmount" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Extensions" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ProductConnection" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ModuleTables" nillable="true" type="tns:ArrayOfModuleTable">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductLicenseTable" nillable="true" type="tns:ProductLicenseTable" />
  <xs:complexType name="ArrayOfCustomerTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerTable" nillable="true" type="tns:CustomerTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerTable" nillable="true" type="tns:ArrayOfCustomerTable" />
  <xs:complexType name="CustomerTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="SCRnumber" type="xs:int" />
      <xs:element minOccurs="0" name="SCRname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCRoperator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseTables" nillable="true" type="tns:ArrayOfLicenseTable">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="DestinationNameTables" nillable="true" type="tns:ArrayOfDestinationNameTable">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerTable" nillable="true" type="tns:CustomerTable" />
  <xs:complexType name="ArrayOfLicenseTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LicenseTable" nillable="true" type="tns:LicenseTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLicenseTable" nillable="true" type="tns:ArrayOfLicenseTable" />
  <xs:complexType name="LicenseTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SCRnumber" type="xs:int" />
      <xs:element minOccurs="0" name="DestinationID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="LicenseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseComments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderIndex" type="xs:int" />
      <xs:element minOccurs="0" name="IsDirty" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserLock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketTables" nillable="true" type="tns:ArrayOfPacketTable">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ProductLicenseTables" nillable="true" type="tns:ArrayOfProductLicenseTable">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TransactionTables" nillable="true" type="tns:ArrayOfTransactionTable">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TokenTables" nillable="true" type="tns:ArrayOfTokenTable">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
            </DefaultValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseTable" nillable="true" type="tns:LicenseTable" />
</xs:schema>