CreatorCode/CreatorClient/Service References/CreatorService/Service.Creator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Creator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Creator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCondition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Condition" nillable="true" type="tns:Condition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCondition" nillable="true" type="tns:ArrayOfCondition" />
  <xs:complexType name="Condition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" type="tns:ConditionName" />
      <xs:element minOccurs="0" name="Operator" type="tns:ConditionOperator" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Condition" nillable="true" type="tns:Condition" />
  <xs:simpleType name="ConditionName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnKnown" />
      <xs:enumeration value="Customer" />
      <xs:enumeration value="LicenseServer" />
      <xs:enumeration value="LicenseType" />
      <xs:enumeration value="ProductLicense" />
      <xs:enumeration value="ExpirationDate" />
      <xs:enumeration value="Product" />
      <xs:enumeration value="ProductVersion" />
      <xs:enumeration value="State" />
      <xs:enumeration value="Extension" />
      <xs:enumeration value="Activation" />
      <xs:enumeration value="ActivationAmount" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="HardwareID" />
      <xs:enumeration value="ActivatedDate" />
      <xs:enumeration value="DeactivatedDate" />
      <xs:enumeration value="Module" />
      <xs:enumeration value="ModuleValue" />
      <xs:enumeration value="Notes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConditionName" nillable="true" type="tns:ConditionName" />
  <xs:simpleType name="ConditionOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="LessThan" />
      <xs:enumeration value="GreaterThan" />
      <xs:enumeration value="Contains" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConditionOperator" nillable="true" type="tns:ConditionOperator" />
</xs:schema>