CreatorCode/CreatorClient/Service References/CreatorService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CreatorData" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solimar.Licensing.Attribs" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service.Creator" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Solimar.Licensing.LicenseManagerWrapper" />
  <xs:element name="GetNextHardwareTokenValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextHardwareTokenValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextHardwareTokenValueResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q1:TokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q2:TokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q3:TokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestNamesByCustID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestNamesByCustIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetDestNamesByCustIDResult" nillable="true" type="q4:ArrayOfDestinationNameTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestinationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:int" />
        <xs:element minOccurs="0" name="destID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestinationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetDestinationNameResult" nillable="true" type="q5:DestinationNameTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestinationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:int" />
        <xs:element minOccurs="0" name="destName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDestinationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetDestinationIDResult" nillable="true" type="q6:DestinationNameTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextDestinationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextDestinationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextDestinationIDResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDestinationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="destName" nillable="true" type="q7:DestinationNameTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDestinationNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDestinationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="destName" nillable="true" type="q8:DestinationNameTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDestinationNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDestinationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="destName" nillable="true" type="q9:DestinationNameTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDestinationNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPermissionsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetPermissionsByUserResult" nillable="true" type="q10:PermissionsTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetProductsResult" nillable="true" type="q11:ArrayOfProductTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetProductResult" nillable="true" type="q12:ProductTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="product" nillable="true" type="q13:ProductTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacketsByLicenseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacketsByLicenseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetPacketsByLicenseNameResult" nillable="true" type="q14:ArrayOfPacketTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacketByVerificationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verificationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPacketByVerificationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetPacketByVerificationCodeResult" nillable="true" type="q15:PacketTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVerificationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verificationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateVerificationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateVerificationCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLicInfoByVerifyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byteVerifyData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLicInfoByVerifyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateLicInfoByVerifyDataResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="byteVerifyData" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePacket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="packet" nillable="true" type="q16:PacketTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePacketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePacket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="packet" nillable="true" type="q17:PacketTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePacketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePacket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="packet" nillable="true" type="q18:PacketTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePacketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByPacketID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packetID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionsByPacketIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetTransactionsByPacketIDResult" nillable="true" type="q19:ArrayOfTransactionTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTransactionsByLicenseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewTransactionsByLicenseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetNewTransactionsByLicenseNameResult" nillable="true" type="q20:ArrayOfTransactionTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubLicenseTransactionsByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stdLicOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="subLicOrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubLicenseTransactionsByOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q21:TransactionTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q22:TransactionTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q23:TransactionTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductLicenses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductLicensesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetAllProductLicensesResult" nillable="true" type="q24:ArrayOfProductLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLicenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseServerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLicensesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetProductLicensesResult" nillable="true" type="q25:ArrayOfProductLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLicensesByProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseServerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLicensesByProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetProductLicensesByProductResult" nillable="true" type="q26:ArrayOfProductLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productLicenseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetProductLicenseResult" nillable="true" type="q27:ProductLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddOnProductLicenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productLicenseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddOnProductLicensesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAddOnProductLicensesResult" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextProductLicenseIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseServerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextProductLicenseIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextProductLicenseIndexResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductVersionFromTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductVersionFromTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductVersionFromTableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllProductLicenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseServer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllProductLicensesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q29:ProductLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q30:ProductLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="ta" nillable="true" type="q31:ProductLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTokens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Solimar.Licensing.Attribs" minOccurs="0" name="token" type="q32:Lic_PackageAttribs.Lic_LicenseInfoAttribs.Lic_ValidationTokenAttribs.TTokenType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTokensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetAllTokensResult" nillable="true" type="q33:ArrayOfTokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTokensByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="custName" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Solimar.Licensing.Attribs" minOccurs="0" name="token" type="q34:Lic_PackageAttribs.Lic_LicenseInfoAttribs.Lic_ValidationTokenAttribs.TTokenType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTokensByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetAllTokensByCustomerResult" nillable="true" type="q35:ArrayOfTokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokensByLicenseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokensByLicenseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetTokensByLicenseNameResult" nillable="true" type="q36:ArrayOfTokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHardwareTokenByKeyValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHardwareTokenByKeyValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetHardwareTokenByKeyValueResult" nillable="true" type="q37:TokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableHardwareTokensByCustID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableHardwareTokensByCustIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetAvailableHardwareTokensByCustIDResult" nillable="true" type="q38:ArrayOfTokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenByLicenseName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tokenType" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenByLicenseNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetTokenByLicenseNameResult" nillable="true" type="q39:TokenTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TokenExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="tokenType" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="tokenValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TokenExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHardwareTokenActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="tokenValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHardwareTokenActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsHardwareTokenActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enableLoadOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q40:ArrayOfCustomerTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllCustomerNamesResult" nillable="true" type="q41:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enableLoadOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enableLoadOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetCustomerResult" nillable="true" type="q42:CustomerTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="custRecord" nillable="true" type="q43:CustomerTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="custRecord" nillable="true" type="q44:CustomerTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="custRecord" nillable="true" type="q45:CustomerTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastCustomerID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastCustomerIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLicenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enableLoadOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLicensesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetAllLicensesResult" nillable="true" type="q46:ArrayOfLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensesByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enableLoadOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensesByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetLicensesByCustomerResult" nillable="true" type="q47:ArrayOfLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensesByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:int" />
        <xs:element minOccurs="0" name="destID" type="xs:int" />
        <xs:element minOccurs="0" name="groupID" type="xs:int" />
        <xs:element minOccurs="0" name="enableLoadOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicensesByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetLicensesByIDResult" nillable="true" type="q48:ArrayOfLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enableLoadOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetLicenseByNameResult" nillable="true" type="q49:LicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licID" type="xs:int" />
        <xs:element minOccurs="0" name="enableLoadOptions" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetLicenseByIDResult" nillable="true" type="q50:LicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseCountByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:int" />
        <xs:element minOccurs="0" name="destID" type="xs:int" />
        <xs:element minOccurs="0" name="groupID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseCountByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseCountByIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="destID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextGroupIDResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastGroupID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="destID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastGroupIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastGroupIDResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseCountByDestName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="destID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseCountByDestNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseCountByDestNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastDestinationID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastDestinationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastDestinationIDResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicencesByConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Service.Creator" minOccurs="0" name="conditionList" nillable="true" type="q51:ArrayOfCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicencesByConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="GetLicencesByConditionsResult" nillable="true" type="q52:ArrayOfLicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLicenseModified">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLicenseModifiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLicenseModifiedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLicenseUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLicenseUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLicenseUpdatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModifiedLicensesByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModifiedLicensesByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetModifiedLicensesByCustomerResult" nillable="true" type="q53:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedLicensesByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedLicensesByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUpdatedLicensesByCustomerResult" nillable="true" type="q54:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseCountByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="destID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="groupID" type="xs:unsignedInt" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Solimar.Licensing.Attribs" minOccurs="0" name="licType" type="q55:Lic_PackageAttribs.Lic_LicenseInfoAttribs.TSoftwareLicenseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseCountByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLicenseCountByTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDerivedLicenseCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="custID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="destID" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="groupID" type="xs:unsignedInt" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Solimar.Licensing.Attribs" minOccurs="0" name="licType" type="q56:Lic_PackageAttribs.Lic_LicenseInfoAttribs.TSoftwareLicenseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDerivedLicenseCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDerivedLicenseCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLicensePacket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packetName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verificationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newByteArrayLicensePacket" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLicensePacketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verificationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newByteArrayLicensePacket" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyEnumerate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyEnumerateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Solimar.Licensing.LicenseManagerWrapper" minOccurs="0" name="KeyEnumerateResult" nillable="true" type="q57:ArrayOfSolimarLicenseProtectionKeyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeyFormatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyProgramVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerNumber" type="xs:int" />
        <xs:element minOccurs="0" name="keyNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeyProgramVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeyProgramVerificationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="license" nillable="true" type="q58:LicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="license" nillable="true" type="q59:LicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CreatorData" minOccurs="0" name="license" nillable="true" type="q60:LicenseTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLicenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>