CreatorCode/CreatorClient/Service References/CreatorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Creator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CreatorServiceTcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CreatorData" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solimar.Licensing.Attribs" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Service.Creator" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Solimar.Licensing.LicenseManagerWrapper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreator_TokenExists_InputMessage">
    <wsdl:part name="parameters" element="tns:TokenExists" />
  </wsdl:message>
  <wsdl:message name="ICreator_TokenExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:TokenExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_IsHardwareTokenActive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsHardwareTokenActive" />
  </wsdl:message>
  <wsdl:message name="ICreator_IsHardwareTokenActive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsHardwareTokenActiveResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNextHardwareTokenValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextHardwareTokenValue" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNextHardwareTokenValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextHardwareTokenValueResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateToken" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateToken" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteToken_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteToken" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDestNamesByCustID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDestNamesByCustID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDestNamesByCustID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDestNamesByCustIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDestinationName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDestinationName" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDestinationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDestinationNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDestinationID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDestinationID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDestinationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDestinationIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNextDestinationID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextDestinationID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNextDestinationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextDestinationIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateDestinationName_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDestinationName" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateDestinationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDestinationNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateDestinationName_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDestinationName" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateDestinationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDestinationNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteDestinationName_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDestinationName" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteDestinationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDestinationNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetPermissionsByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionsByUser" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetPermissionsByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPermissionsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateProductTable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductTable" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateProductTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductTableResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetPacketsByLicenseName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPacketsByLicenseName" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetPacketsByLicenseName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPacketsByLicenseNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetPacketByVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPacketByVerificationCode" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetPacketByVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPacketByVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_ValidateVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateVerificationCode" />
  </wsdl:message>
  <wsdl:message name="ICreator_ValidateVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GenerateLicInfoByVerifyData_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateLicInfoByVerifyData" />
  </wsdl:message>
  <wsdl:message name="ICreator_GenerateLicInfoByVerifyData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateLicInfoByVerifyDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreatePacket_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePacket" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreatePacket_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePacketResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdatePacket_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePacket" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdatePacket_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePacketResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeletePacket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePacket" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeletePacket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePacketResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetTransactionsByPacketID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByPacketID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetTransactionsByPacketID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByPacketIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNewTransactionsByLicenseName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewTransactionsByLicenseName" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNewTransactionsByLicenseName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewTransactionsByLicenseNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateSubLicenseTransactionsByOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubLicenseTransactionsByOrder" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateSubLicenseTransactionsByOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubLicenseTransactionsByOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTransaction" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransaction" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransaction" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllProductLicenses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductLicenses" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllProductLicenses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProductLicenses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductLicenses" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProductLicenses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProductLicensesByProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductLicensesByProduct" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProductLicensesByProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductLicensesByProductResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProductLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductLicense" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProductLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAddOnProductLicenses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnProductLicenses" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAddOnProductLicenses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnProductLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNextProductLicenseIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextProductLicenseIndex" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNextProductLicenseIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextProductLicenseIndexResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProductVersionFromTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductVersionFromTable" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetProductVersionFromTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductVersionFromTableResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDeactivatedProductLicenses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeactivatedProductLicenses" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDeactivatedProductLicenses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeactivatedProductLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeactivateProductLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateProductLicense" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeactivateProductLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateProductLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteAllProductLicenses_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllProductLicenses" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteAllProductLicenses_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllProductLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateProductLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductLicense" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateProductLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateProductLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductLicense" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateProductLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteProductLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductLicense" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteProductLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllTokens_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTokens" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllTokens_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTokensResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllTokensByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTokensByCustomer" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllTokensByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTokensByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetTokensByLicenseName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokensByLicenseName" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetTokensByLicenseName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokensByLicenseNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetHardwareTokenByKeyValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHardwareTokenByKeyValue" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetHardwareTokenByKeyValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHardwareTokenByKeyValueResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAvailableHardwareTokensByCustID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableHardwareTokensByCustID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAvailableHardwareTokensByCustID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableHardwareTokensByCustIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetTokenByLicenseName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenByLicenseName" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetTokenByLicenseName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenByLicenseNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllCustomerNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerNames" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetAllCustomerNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetCustomerCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerCount" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetCustomerCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerCountResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLastCustomerID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCustomerID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLastCustomerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicensesByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicensesByCustomer" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicensesByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicensesByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicensesByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicensesByID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicensesByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicensesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseByName" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseByID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseCountByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseCountByID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseCountByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseCountByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNextGroupID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextGroupID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetNextGroupID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLastGroupID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastGroupID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLastGroupID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseCountByDestName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseCountByDestName" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseCountByDestName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseCountByDestNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLastDestinationID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastDestinationID" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLastDestinationID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastDestinationIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseType" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicencesByConditions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicencesByConditions" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicencesByConditions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicencesByConditionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_IsLicenseModified_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLicenseModified" />
  </wsdl:message>
  <wsdl:message name="ICreator_IsLicenseModified_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLicenseModifiedResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_IsLicenseUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLicenseUpdated" />
  </wsdl:message>
  <wsdl:message name="ICreator_IsLicenseUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLicenseUpdatedResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetModifiedLicensesByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModifiedLicensesByCustomer" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetModifiedLicensesByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModifiedLicensesByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetUpdatedLicensesByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatedLicensesByCustomer" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetUpdatedLicensesByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatedLicensesByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseCountByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseCountByType" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetLicenseCountByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLicenseCountByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDerivedLicenseCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDerivedLicenseCount" />
  </wsdl:message>
  <wsdl:message name="ICreator_GetDerivedLicenseCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDerivedLicenseCountResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_GenerateLicensePacket_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateLicensePacket" />
  </wsdl:message>
  <wsdl:message name="ICreator_GenerateLicensePacket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateLicensePacketResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_KeyEnumerate_InputMessage">
    <wsdl:part name="parameters" element="tns:KeyEnumerate" />
  </wsdl:message>
  <wsdl:message name="ICreator_KeyEnumerate_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeyEnumerateResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_KeyFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:KeyFormat" />
  </wsdl:message>
  <wsdl:message name="ICreator_KeyFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeyFormatResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_KeyProgramVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:KeyProgramVerification" />
  </wsdl:message>
  <wsdl:message name="ICreator_KeyProgramVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeyProgramVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLicense" />
  </wsdl:message>
  <wsdl:message name="ICreator_CreateLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLicense" />
  </wsdl:message>
  <wsdl:message name="ICreator_UpdateLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLicense" />
  </wsdl:message>
  <wsdl:message name="ICreator_DeleteLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreator">
    <wsdl:operation name="TokenExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/TokenExists" message="tns:ICreator_TokenExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/TokenExistsResponse" message="tns:ICreator_TokenExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsHardwareTokenActive">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/IsHardwareTokenActive" message="tns:ICreator_IsHardwareTokenActive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/IsHardwareTokenActiveResponse" message="tns:ICreator_IsHardwareTokenActive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextHardwareTokenValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetNextHardwareTokenValue" message="tns:ICreator_GetNextHardwareTokenValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetNextHardwareTokenValueResponse" message="tns:ICreator_GetNextHardwareTokenValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/CreateToken" message="tns:ICreator_CreateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/CreateTokenResponse" message="tns:ICreator_CreateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdateToken" message="tns:ICreator_UpdateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdateTokenResponse" message="tns:ICreator_UpdateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeleteToken" message="tns:ICreator_DeleteToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeleteTokenResponse" message="tns:ICreator_DeleteToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDestNamesByCustID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetDestNamesByCustID" message="tns:ICreator_GetDestNamesByCustID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetDestNamesByCustIDResponse" message="tns:ICreator_GetDestNamesByCustID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDestinationName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetDestinationName" message="tns:ICreator_GetDestinationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetDestinationNameResponse" message="tns:ICreator_GetDestinationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDestinationID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetDestinationID" message="tns:ICreator_GetDestinationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetDestinationIDResponse" message="tns:ICreator_GetDestinationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDestinationID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetNextDestinationID" message="tns:ICreator_GetNextDestinationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetNextDestinationIDResponse" message="tns:ICreator_GetNextDestinationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDestinationName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/CreateDestinationName" message="tns:ICreator_CreateDestinationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/CreateDestinationNameResponse" message="tns:ICreator_CreateDestinationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDestinationName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdateDestinationName" message="tns:ICreator_UpdateDestinationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdateDestinationNameResponse" message="tns:ICreator_UpdateDestinationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDestinationName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeleteDestinationName" message="tns:ICreator_DeleteDestinationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeleteDestinationNameResponse" message="tns:ICreator_DeleteDestinationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPermissionsByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetPermissionsByUser" message="tns:ICreator_GetPermissionsByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetPermissionsByUserResponse" message="tns:ICreator_GetPermissionsByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetProducts" message="tns:ICreator_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetProductsResponse" message="tns:ICreator_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetProduct" message="tns:ICreator_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetProductResponse" message="tns:ICreator_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdateProductTable" message="tns:ICreator_UpdateProductTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdateProductTableResponse" message="tns:ICreator_UpdateProductTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPacketsByLicenseName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetPacketsByLicenseName" message="tns:ICreator_GetPacketsByLicenseName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetPacketsByLicenseNameResponse" message="tns:ICreator_GetPacketsByLicenseName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPacketByVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetPacketByVerificationCode" message="tns:ICreator_GetPacketByVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetPacketByVerificationCodeResponse" message="tns:ICreator_GetPacketByVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/ValidateVerificationCode" message="tns:ICreator_ValidateVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/ValidateVerificationCodeResponse" message="tns:ICreator_ValidateVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateLicInfoByVerifyData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GenerateLicInfoByVerifyData" message="tns:ICreator_GenerateLicInfoByVerifyData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GenerateLicInfoByVerifyDataResponse" message="tns:ICreator_GenerateLicInfoByVerifyData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePacket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/CreatePacket" message="tns:ICreator_CreatePacket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/CreatePacketResponse" message="tns:ICreator_CreatePacket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePacket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdatePacket" message="tns:ICreator_UpdatePacket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdatePacketResponse" message="tns:ICreator_UpdatePacket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePacket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeletePacket" message="tns:ICreator_DeletePacket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeletePacketResponse" message="tns:ICreator_DeletePacket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByPacketID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetTransactionsByPacketID" message="tns:ICreator_GetTransactionsByPacketID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetTransactionsByPacketIDResponse" message="tns:ICreator_GetTransactionsByPacketID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewTransactionsByLicenseName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetNewTransactionsByLicenseName" message="tns:ICreator_GetNewTransactionsByLicenseName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetNewTransactionsByLicenseNameResponse" message="tns:ICreator_GetNewTransactionsByLicenseName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubLicenseTransactionsByOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdateSubLicenseTransactionsByOrder" message="tns:ICreator_UpdateSubLicenseTransactionsByOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdateSubLicenseTransactionsByOrderResponse" message="tns:ICreator_UpdateSubLicenseTransactionsByOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/CreateTransaction" message="tns:ICreator_CreateTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/CreateTransactionResponse" message="tns:ICreator_CreateTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdateTransaction" message="tns:ICreator_UpdateTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdateTransactionResponse" message="tns:ICreator_UpdateTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeleteTransaction" message="tns:ICreator_DeleteTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeleteTransactionResponse" message="tns:ICreator_DeleteTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductLicenses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetAllProductLicenses" message="tns:ICreator_GetAllProductLicenses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetAllProductLicensesResponse" message="tns:ICreator_GetAllProductLicenses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductLicenses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetProductLicenses" message="tns:ICreator_GetProductLicenses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetProductLicensesResponse" message="tns:ICreator_GetProductLicenses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductLicensesByProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetProductLicensesByProduct" message="tns:ICreator_GetProductLicensesByProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetProductLicensesByProductResponse" message="tns:ICreator_GetProductLicensesByProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetProductLicense" message="tns:ICreator_GetProductLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetProductLicenseResponse" message="tns:ICreator_GetProductLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddOnProductLicenses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetAddOnProductLicenses" message="tns:ICreator_GetAddOnProductLicenses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetAddOnProductLicensesResponse" message="tns:ICreator_GetAddOnProductLicenses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextProductLicenseIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetNextProductLicenseIndex" message="tns:ICreator_GetNextProductLicenseIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetNextProductLicenseIndexResponse" message="tns:ICreator_GetNextProductLicenseIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductVersionFromTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetProductVersionFromTable" message="tns:ICreator_GetProductVersionFromTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetProductVersionFromTableResponse" message="tns:ICreator_GetProductVersionFromTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeactivatedProductLicenses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetDeactivatedProductLicenses" message="tns:ICreator_GetDeactivatedProductLicenses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetDeactivatedProductLicensesResponse" message="tns:ICreator_GetDeactivatedProductLicenses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateProductLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeactivateProductLicense" message="tns:ICreator_DeactivateProductLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeactivateProductLicenseResponse" message="tns:ICreator_DeactivateProductLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllProductLicenses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeleteAllProductLicenses" message="tns:ICreator_DeleteAllProductLicenses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeleteAllProductLicensesResponse" message="tns:ICreator_DeleteAllProductLicenses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/CreateProductLicense" message="tns:ICreator_CreateProductLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/CreateProductLicenseResponse" message="tns:ICreator_CreateProductLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdateProductLicense" message="tns:ICreator_UpdateProductLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdateProductLicenseResponse" message="tns:ICreator_UpdateProductLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeleteProductLicense" message="tns:ICreator_DeleteProductLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeleteProductLicenseResponse" message="tns:ICreator_DeleteProductLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTokens">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetAllTokens" message="tns:ICreator_GetAllTokens_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetAllTokensResponse" message="tns:ICreator_GetAllTokens_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTokensByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetAllTokensByCustomer" message="tns:ICreator_GetAllTokensByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetAllTokensByCustomerResponse" message="tns:ICreator_GetAllTokensByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokensByLicenseName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetTokensByLicenseName" message="tns:ICreator_GetTokensByLicenseName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetTokensByLicenseNameResponse" message="tns:ICreator_GetTokensByLicenseName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHardwareTokenByKeyValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetHardwareTokenByKeyValue" message="tns:ICreator_GetHardwareTokenByKeyValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetHardwareTokenByKeyValueResponse" message="tns:ICreator_GetHardwareTokenByKeyValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableHardwareTokensByCustID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetAvailableHardwareTokensByCustID" message="tns:ICreator_GetAvailableHardwareTokensByCustID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetAvailableHardwareTokensByCustIDResponse" message="tns:ICreator_GetAvailableHardwareTokensByCustID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTokenByLicenseName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetTokenByLicenseName" message="tns:ICreator_GetTokenByLicenseName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetTokenByLicenseNameResponse" message="tns:ICreator_GetTokenByLicenseName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetAllCustomers" message="tns:ICreator_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetAllCustomersResponse" message="tns:ICreator_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetAllCustomerNames" message="tns:ICreator_GetAllCustomerNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetAllCustomerNamesResponse" message="tns:ICreator_GetAllCustomerNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetCustomerCount" message="tns:ICreator_GetCustomerCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetCustomerCountResponse" message="tns:ICreator_GetCustomerCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetCustomer" message="tns:ICreator_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetCustomerResponse" message="tns:ICreator_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/CreateCustomer" message="tns:ICreator_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/CreateCustomerResponse" message="tns:ICreator_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdateCustomer" message="tns:ICreator_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdateCustomerResponse" message="tns:ICreator_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeleteCustomer" message="tns:ICreator_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeleteCustomerResponse" message="tns:ICreator_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastCustomerID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLastCustomerID" message="tns:ICreator_GetLastCustomerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLastCustomerIDResponse" message="tns:ICreator_GetLastCustomerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicensesByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicensesByCustomer" message="tns:ICreator_GetLicensesByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicensesByCustomerResponse" message="tns:ICreator_GetLicensesByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicensesByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicensesByID" message="tns:ICreator_GetLicensesByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicensesByIDResponse" message="tns:ICreator_GetLicensesByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicenseByName" message="tns:ICreator_GetLicenseByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicenseByNameResponse" message="tns:ICreator_GetLicenseByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicenseByID" message="tns:ICreator_GetLicenseByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicenseByIDResponse" message="tns:ICreator_GetLicenseByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseCountByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicenseCountByID" message="tns:ICreator_GetLicenseCountByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicenseCountByIDResponse" message="tns:ICreator_GetLicenseCountByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextGroupID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetNextGroupID" message="tns:ICreator_GetNextGroupID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetNextGroupIDResponse" message="tns:ICreator_GetNextGroupID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastGroupID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLastGroupID" message="tns:ICreator_GetLastGroupID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLastGroupIDResponse" message="tns:ICreator_GetLastGroupID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseCountByDestName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicenseCountByDestName" message="tns:ICreator_GetLicenseCountByDestName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicenseCountByDestNameResponse" message="tns:ICreator_GetLicenseCountByDestName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastDestinationID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLastDestinationID" message="tns:ICreator_GetLastDestinationID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLastDestinationIDResponse" message="tns:ICreator_GetLastDestinationID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicenseType" message="tns:ICreator_GetLicenseType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicenseTypeResponse" message="tns:ICreator_GetLicenseType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicencesByConditions">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicencesByConditions" message="tns:ICreator_GetLicencesByConditions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicencesByConditionsResponse" message="tns:ICreator_GetLicencesByConditions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLicenseModified">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/IsLicenseModified" message="tns:ICreator_IsLicenseModified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/IsLicenseModifiedResponse" message="tns:ICreator_IsLicenseModified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLicenseUpdated">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/IsLicenseUpdated" message="tns:ICreator_IsLicenseUpdated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/IsLicenseUpdatedResponse" message="tns:ICreator_IsLicenseUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModifiedLicensesByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetModifiedLicensesByCustomer" message="tns:ICreator_GetModifiedLicensesByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetModifiedLicensesByCustomerResponse" message="tns:ICreator_GetModifiedLicensesByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedLicensesByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetUpdatedLicensesByCustomer" message="tns:ICreator_GetUpdatedLicensesByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetUpdatedLicensesByCustomerResponse" message="tns:ICreator_GetUpdatedLicensesByCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenseCountByType">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetLicenseCountByType" message="tns:ICreator_GetLicenseCountByType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetLicenseCountByTypeResponse" message="tns:ICreator_GetLicenseCountByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDerivedLicenseCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GetDerivedLicenseCount" message="tns:ICreator_GetDerivedLicenseCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GetDerivedLicenseCountResponse" message="tns:ICreator_GetDerivedLicenseCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateLicensePacket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/GenerateLicensePacket" message="tns:ICreator_GenerateLicensePacket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/GenerateLicensePacketResponse" message="tns:ICreator_GenerateLicensePacket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeyEnumerate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/KeyEnumerate" message="tns:ICreator_KeyEnumerate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/KeyEnumerateResponse" message="tns:ICreator_KeyEnumerate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeyFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/KeyFormat" message="tns:ICreator_KeyFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/KeyFormatResponse" message="tns:ICreator_KeyFormat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeyProgramVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/KeyProgramVerification" message="tns:ICreator_KeyProgramVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/KeyProgramVerificationResponse" message="tns:ICreator_KeyProgramVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/CreateLicense" message="tns:ICreator_CreateLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/CreateLicenseResponse" message="tns:ICreator_CreateLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/UpdateLicense" message="tns:ICreator_UpdateLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/UpdateLicenseResponse" message="tns:ICreator_UpdateLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreator/DeleteLicense" message="tns:ICreator_DeleteLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreator/DeleteLicenseResponse" message="tns:ICreator_DeleteLicense_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreatorServiceTcp" type="tns:ICreator">
    <wsp:PolicyReference URI="#CreatorServiceTcp_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TokenExists">
      <soap12:operation soapAction="http://tempuri.org/ICreator/TokenExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHardwareTokenActive">
      <soap12:operation soapAction="http://tempuri.org/ICreator/IsHardwareTokenActive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextHardwareTokenValue">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetNextHardwareTokenValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateToken">
      <soap12:operation soapAction="http://tempuri.org/ICreator/CreateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateToken">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteToken">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeleteToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDestNamesByCustID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetDestNamesByCustID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDestinationName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetDestinationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDestinationID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetDestinationID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDestinationID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetNextDestinationID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDestinationName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/CreateDestinationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDestinationName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdateDestinationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDestinationName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeleteDestinationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPermissionsByUser">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetPermissionsByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductTable">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdateProductTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacketsByLicenseName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetPacketsByLicenseName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacketByVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetPacketByVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/ICreator/ValidateVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLicInfoByVerifyData">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GenerateLicInfoByVerifyData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePacket">
      <soap12:operation soapAction="http://tempuri.org/ICreator/CreatePacket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePacket">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdatePacket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePacket">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeletePacket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByPacketID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetTransactionsByPacketID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewTransactionsByLicenseName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetNewTransactionsByLicenseName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubLicenseTransactionsByOrder">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdateSubLicenseTransactionsByOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransaction">
      <soap12:operation soapAction="http://tempuri.org/ICreator/CreateTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransaction">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdateTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeleteTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductLicenses">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetAllProductLicenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductLicenses">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetProductLicenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductLicensesByProduct">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetProductLicensesByProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductLicense">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetProductLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnProductLicenses">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetAddOnProductLicenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextProductLicenseIndex">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetNextProductLicenseIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductVersionFromTable">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetProductVersionFromTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeactivatedProductLicenses">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetDeactivatedProductLicenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateProductLicense">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeactivateProductLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllProductLicenses">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeleteAllProductLicenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProductLicense">
      <soap12:operation soapAction="http://tempuri.org/ICreator/CreateProductLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductLicense">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdateProductLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductLicense">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeleteProductLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTokens">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetAllTokens" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTokensByCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetAllTokensByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokensByLicenseName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetTokensByLicenseName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHardwareTokenByKeyValue">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetHardwareTokenByKeyValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableHardwareTokensByCustID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetAvailableHardwareTokensByCustID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTokenByLicenseName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetTokenByLicenseName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerNames">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetAllCustomerNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerCount">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetCustomerCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICreator/CreateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastCustomerID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLastCustomerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicensesByCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicensesByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicensesByID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicensesByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseByName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicenseByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseByID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicenseByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseCountByID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicenseCountByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextGroupID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetNextGroupID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastGroupID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLastGroupID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseCountByDestName">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicenseCountByDestName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastDestinationID">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLastDestinationID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseType">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicenseType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicencesByConditions">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicencesByConditions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLicenseModified">
      <soap12:operation soapAction="http://tempuri.org/ICreator/IsLicenseModified" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLicenseUpdated">
      <soap12:operation soapAction="http://tempuri.org/ICreator/IsLicenseUpdated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModifiedLicensesByCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetModifiedLicensesByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedLicensesByCustomer">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetUpdatedLicensesByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenseCountByType">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetLicenseCountByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDerivedLicenseCount">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GetDerivedLicenseCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLicensePacket">
      <soap12:operation soapAction="http://tempuri.org/ICreator/GenerateLicensePacket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeyEnumerate">
      <soap12:operation soapAction="http://tempuri.org/ICreator/KeyEnumerate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeyFormat">
      <soap12:operation soapAction="http://tempuri.org/ICreator/KeyFormat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeyProgramVerification">
      <soap12:operation soapAction="http://tempuri.org/ICreator/KeyProgramVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLicense">
      <soap12:operation soapAction="http://tempuri.org/ICreator/CreateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLicense">
      <soap12:operation soapAction="http://tempuri.org/ICreator/UpdateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLicense">
      <soap12:operation soapAction="http://tempuri.org/ICreator/DeleteLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Creator">
    <wsdl:port name="CreatorServiceTcp" binding="tns:CreatorServiceTcp">
      <soap12:address location="net.tcp://localhost:9091/Creator/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9091/Creator/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>