CreatorCode/CreatorClient/Service References/CreatorService/Solimar.Licensing.LicenseManagerWrapper.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Solimar.Licensing.LicenseManagerWrapper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solimar.Licensing.LicenseManagerWrapper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSolimarLicenseProtectionKeyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolimarLicenseProtectionKeyInfo" nillable="true" type="tns:SolimarLicenseProtectionKeyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolimarLicenseProtectionKeyInfo" nillable="true" type="tns:ArrayOfSolimarLicenseProtectionKeyInfo" />
  <xs:complexType name="SolimarLicenseProtectionKeyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicationInstance" type="xs:int" />
      <xs:element minOccurs="0" name="bIsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="bIsProgrammed" type="xs:boolean" />
      <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hoursLeft" type="xs:int" />
      <xs:element minOccurs="0" name="keyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="keyTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="keyTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="licenseTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productID" type="xs:int" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolimarLicenseProtectionKeyInfo" nillable="true" type="tns:SolimarLicenseProtectionKeyInfo" />
</xs:schema>